.vs/
*.user
*.suo

bin/
obj/
out/
Debug/
Release/

TestResults/

*.nupkg
*.snupkg
*.nuspec
packages/
project.lock.json
project.fragment.lock.json
artifacts/

*.key
*.pfx
*.publishsettings

.idea/
*.sln.iml

*.log

Thumbs.db
ehthumbs.db
.DS_Store
desktop.ini

.vscode/
*.code-workspace
history/

*.dbmdl
*.bak
*.tmp
*.swp
*.sdf
